<div id="mainContainer">
  <div style="background: url('/assets/images/pattern-bg.png')">
    <div id="ipcontainer">
      <input id="address" type="text" (keyup.enter)="onEnterIpAddress($event)" (change)="onIpChange($event)">
      <button id="addressButton" (click)="onClickIpAddress()"></button>
    </div>
    <div id="infodiv">
      <div class="item">
        <h2>ISP</h2>
        <h1>{{isp}}</h1>
      </div>
      <div class="item">
        <h2>TIMEZONE</h2>
        <h1>{{timezone}}</h1>
      </div>
      <div class="item">
        <h2>LOCATION</h2>
        <h1>{{city}}, {{country}}</h1>
      </div>
      <div class="item">
        <h2>IP ADDRESS</h2>
        <h1>{{ipAddress}}</h1>
      </div>
    </div>
  </div>
  <div id="map"></div>

</div>
